<footer>
    <div class="footer-container">
        <div class="contact-info">
            <h3>Masz pytania?</h3>
            <h4>Skontaktuj się z nami</h4>
            <p>Email: <a href="mailto:contact@example.com">contact@example.com</a></p>
            <p>Telefon: <a href="tel:+48555666777">+48 555 666 777</a></p>
            
        </div>

        <div class="contact-info">
            <h3>Przydatne linki</h3>
            <a href="https://www.booking.com/index.pl.html?aid=2311236;label=pl-pl-booking-desktop-_daRgHoAMAxzZxKo2583uAS652829001079:pl:ta:p1:p2:ac:ap:neg:fi:tikwd-65526620:lp1011445:li:dec:dm;ws=&gclid=Cj0KCQjwgL-3BhDnARIsAL6KZ6-mGhoX3gMGh-BnOchqoTj40_iWHq24aEZthKA1pRTLFCvlkVPju2oaAk0TEALw_wcB" target="_blank"><h4>Zarezerwuj przez booking.com</h4></a>
            <a href="/policy" ><h4>Polityka Prywatności</h4></a>
            <a href="/form#regulamin" ><h4>Regulamin</h4></a>
            <a href="/price-list" ><h4>Cennik</h4></a>
            <a href="/gallery" ><h4>Galeria</h4></a>
            
        </div>

        <div class="author-info">
            <p></p>
            <p>Created by: <a href="https://nowiczenkoandrzej.github.io/index.html" target="_blank">Andrzej Nowiczenko</a>   &copy; 2024 All Rights Reserved</p>
        </div>
    </div>
</footer>