
<nav>
    <nav class="navbar">
        <div class="logo">
            <a href="/">Działeczka</a>
        </div>
        
        <div class="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <div class="nav-links">
            <a href="/price-list">Cennik</a>
            <a href="/gallery">Galeria</a>
            <a href="/form">Zarezerwuj!</a>
        

        </div>
    </nav>

    <script>
        const menuToggle = document.querySelector('.menu-toggle');
        const navLinks = document.querySelector('.nav-links');

        menuToggle.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.navbar').addClass('affix');
                console.log("OK");
            } else {
                $('.navbar').removeClass('affix');
            }
        });
    </script>


</nav>