<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    

    <section class="gallery">

        <div class="gallery-item" data-index="0">
            <img src="/img/img1.jpeg" alt=" dupa dupa">
        </div>
        <div class="gallery-item" data-index="1">
            <img src="/img/img2.jpg" alt="">
        </div>
        <div class="gallery-item" data-index="2">
            <img src="/img/img2.jpg" alt="">
        </div>
        <div class="gallery-item" data-index="3">
            <img src="/img/img3.jpg" alt="">
        </div>
        <div class="gallery-item" data-index="4">
            <img src="/img/img3.jpg" alt="">
        </div>
        <div class="gallery-item" data-index="5">
            <img src="/img/img4.jpg" alt="">
        </div>
        <div class="gallery-item" data-index="6">
            <img src="/img/img5.jpg" alt="">
        </div>
        <div class="gallery-item" data-index="7">
            <img src="/img/img6.jpg" alt="">
        </div>
        <div class="gallery-item" data-index="8">
            <img src="/img/img7.jpg" alt="">
        </div>
        <!-- <div class="gallery-item">
            <img src="/img/img8.jpg" alt="">
        </div>
        <div class="gallery-item">
            <img src="/img/img19.jpg" alt="">
        </div> -->

         <div class="image-viewer">
            <button class="viewer-close">&times;</button>
            <button class="viewer-nav viewer-nav-prev">&#10094;</button>
            <div class="viewer-content">
                <img class="viewer-image" src="" alt="Full view image">
            </div>
            <button class="viewer-nav viewer-nav-next">&#10095;</button>
        </div>
        
    </section>


    <br>

    <script type="text/javascript" src="/js/gallery.js"></script>

        



    <%- include('./partials/footer.ejs') %>
</body>
</html>