<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


        <section class="basic-grid">

            <div class="gallery-card">
                <img src="/img/img1.jpeg" alt=" dupa dupa">
            </div>
            <div class="gallery-card">
                <img src="/img/img2.jpg" alt="">
            </div>
            <div class="gallery-card">
                <img src="/img/img2.jpg" alt="">
            </div>
            <div class="gallery-card">
                <img src="/img/img3.jpg" alt="">
            </div>
            <div class="gallery-card">
                <img src="/img/img3.jpg" alt="">
            </div>
            <div class="gallery-card">
                <img src="/img/img4.jpg" alt="">
            </div>
            <div class="gallery-card">
                <img src="/img/img5.jpg" alt="">
            </div>
            <div class="gallery-card">
                <img src="/img/img6.jpg" alt="">
            </div>
            <div class="gallery-card">
                <img src="/img/img7.jpg" alt="">
            </div>
            <div class="gallery-card">
                <img src="/img/img8.jpg" alt="">
            </div>
            <div class="gallery-card">
                <img src="/img/img19.jpg" alt="">
            </div>
            
            

        </section>



    <%- include('./partials/footer.ejs') %>
</body>
</html>