<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <header>
        <%- include('./partials/nav.ejs') %>
    </header>

   
    

    
    <section class="mainSection">

        <div class="hero">
            
            <div class="title">
                <h1>Twój azyl w sercu Podlasia – przeżyj Podlasie w pełni!</h1>
                <br>
            
                <p>Marzysz o odpoczynku w miejscu, gdzie czas płynie wolniej, a natura gra pierwsze skrzypce? Nasz domek w Strękowiźnie to wyjątkowa przestrzeń, w której komfort łączy się z autentycznym urokiem Podlasia. Tu zasypiasz przy dźwiękach lasu, budzisz się z widokiem na naturę, a każdy dzień może być nową przygodą.</p>
           
            </div>
             <span class="action"><a href="/rezerwacja">Zarezerwuj!</a></span>

        </div>

    </section>
    <br>
    <br>

    <section class="mainSection" style="background-color:whitesmoke;">

        <div class="wrapper">

            <div class="carouselWrapper">

                <div class="carousel">

                    <div class="mySlides fade">
                        <div class="numbertext">1 / 7</div>
                        <img src="img/1758057430616.JPG" style="width: 100%;">
                    </div>
                    <div class="mySlides fade">
                        <div class="numbertext">2 / 7</div>
                        <img src="img/1757108560610.jpg" style="width: 100%;">
                    </div>
                    <div class="mySlides fade">
                        <div class="numbertext">3 / 7</div>
                        <img src="img/1757108586723.jpg" style="width: 100%;">
                    </div>
                    <div class="mySlides fade">
                        <div class="numbertext">4 / 7</div>
                        <img src="img/1757108695962.jpg" style="width: 100%;">
                    </div>
                    <div class="mySlides fade">
                        <div class="numbertext">5 / 7</div>
                        <img src="img/1757108705419.jpg" style="width: 100%;">
                    </div>
                    <div class="mySlides fade">
                        <div class="numbertext">6 / 7</div>
                        <img src="img/1757108728676.jpg" style="width: 100%;">
                    </div>
                    <div class="mySlides fade">
                        <div class="numbertext">7 / 7</div>
                        <img src="img/1757108751065.jpg" style="width: 100%;">
                    </div>

                    <a class="prevImg" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="nextImg" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                    <span class="dot" onclick="currentSlide(6)"></span>
                    <span class="dot" onclick="currentSlide(7)"></span>
                </div>


            </div>

            <div class="houseDesc">
                <p><strong>🏡 Komfortowy domek z duszą</strong> </p>
                <br>
                <p>4 prztulne <strong>sypianlnie</strong>, zapewniające wygodny sen</p>
                <br>
                <p><strong>przestronny salon z kominkiem</strong>, idealny na wieczory przy winie i rozmowach</p>
                <br>
                <p><strong>W pełni wyposażona kuchnia</strong></p>
                <br>
                <p><strong>2 nowoczesne łazienki</strong></p>
                <br>
                <p>Prywatna <strong>sauna parowa</strong>, by poczuć prawdziwe odprężenie</p>
                <br>
                <p><strong>Własny staw </strong> – miejsce na chwilę refleksji i kontakt z naturą</p>

            </div>

        </div>

    </section>


    <section class="mainSection">

        <div class="wrapperReverse">

        
            <div class="carouselWrapper">

                <div class="carousel">
                    <div class="mySlidesSauna fade">
                        <div class="numbertext">1 / 6</div>
                        <img src="img/1757108500471.jpg" style="width: 100%;">
                    </div>
                    <div class="mySlidesSauna fade">
                        <div class="numbertext">2 / 6</div>
                        <img src="img/1757108644538.jpg" style="width: 100%;">
                    </div>
                    <div class="mySlidesSauna fade">
                        <div class="numbertext">3 / 6</div>
                        <img src="img/1757108542913.jpg" style="width: 100%;">
                    </div>
                    <div class="mySlidesSauna fade">
                        <div class="numbertext">4 / 6</div>
                        <img src="img/1757108459805.jpg" style="width: 100%;">
                    </div>
                    <div class="mySlidesSauna fade">
                        <div class="numbertext">5 / 6</div>
                        <img src="img/1757108673257.jpg" style="width: 100%;">
                    </div>
                    <div class="mySlidesSauna fade">
                        <div class="numbertext">6 / 6</div>
                        <img src="img/1757108688294.jpg" style="width: 100%;">
                    </div>

                    <a class="prevImgSauna" onclick="plusSlidesSauna(-1)">&#10094;</a>
                    <a class="nextImgSauna" onclick="plusSlidesSauna(1)">&#10095;</a>
                </div>
                <br>
                <div style="text-align:center">
                    <span class="dotSauna" onclick="currentSlideSauna(1)"></span>
                    <span class="dotSauna" onclick="currentSlideSauna(2)"></span>
                    <span class="dotSauna" onclick="currentSlideSauna(3)"></span>
                    <span class="dotSauna" onclick="currentSlideSauna(4)"></span>
                    <span class="dotSauna" onclick="currentSlideSauna(5)"></span>
                    <span class="dotSauna" onclick="currentSlideSauna(6)"></span>
                </div>


            </div>

            <div class="houseDesc">
                <p><strong>🚴‍♂️ Aktywności dla każdego</strong></p>
                <br>
                <p><strong>• Ścieżki rowerowe i szlaki piesze</strong> wijące się przez lasy i łąki</p>
                <br>
                <p><strong>• Kajaki, SUP-y i rowerki wodne</strong> na pobliskich jeziorach</p>
                <br>
                <p><strong>• Wędkowanie</strong> i spokojne popołudnia nad wodą</p>
                <br>
                <p><strong>• Jesienne grzybobranie</strong> i zbieranie jagód</p>
                <br>
                <p><strong>• Bliskie sąsiedztwo Augustowa (8 km)</strong>, gdzie czekają rejsy statkami, restauracje i regionalne smaki</p>
            </div>





        </div>


    </section>

    <section class="mainSection" style="background-color:whitesmoke;">

        <div class="wrapper">

        

            <div class="houseDesc">
                <p><strong>🌲 Otoczenie, które zachwyca</strong></p>
                <br>
                <p>Domek położony jest w sercu <strong>Puszczy Augustowskiej</strong> – jednej z najpiękniejszych i najczystszych części Podlasia. 
                W okolicy znajdziesz ponad 10 jezior i kilka rzek, które tworzą niezapomniane krajobrazy i dają nieskończone możliwości aktywnego wypoczynku.</p>
                <br>
                <p><strong>• Dolina Rospudy i rzeka Rospuda</strong> – dzika, niezwykle malownicza rzeka, wymarzona do spływów kajakowych</p>
                <br>
                <p><strong>• Jeziora Necko, Studzieniczne, Rospuda i wiele innych</strong> – idealne do pływania, żeglowania i sportów wodnych</p>
                <br>
                <p><strong>• Kanał Augustowski</strong> – unikatowy zabytek hydrotechniki ze śluzami</p>
                <br>
                <p><strong>• Wigierski Park Narodowy</strong> – oddalony o zaledwie 30 km, raj dla miłośników przyrody, fotografów i obserwatorów ptaków</p>
            </div>


        </div>

    </section>

    <section class="buttonReserve">

        <a href="/rezerwacja">Sprawdź wolne terminy!</a>
    </section>

    <br>
    <br>
    <%- include('./partials/footer.ejs') %>

    <script type="text/javascript" src="/js/slides.js"></script>

</body>
</html>