<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/adminNav.ejs') %>
    <div class="admin-content">
        <h1>Maile</h1>
    </div>
    
</body>
</html>