<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    
    <section class="mainSection">
        <div class="statue">

            <h1>Polityka Prywatności</h1>
            
            <h3>Polityka prywatności Działeczka Sp. z o.o.</h3>

            <p>Niniejsza Polityka Prywatności określa zasady przetwarzania danych osobowych użytkowników serwisu internetowego służącego do rezerwacji domku letniskowego.</p>
            
            <h3>Administrator danych osobowych</h3>
            
            <p>Administratorem danych osobowych jest [nazwa firmy lub osoba prywatna] z siedzibą w [adres siedziby], zwana dalej "Administratorem".</p>
            
            <h3>Rodzaj zbieranych danych osobowych</h3>
            <p>W ramach korzystania z naszego serwisu, zbierane są następujące dane osobowe:</p>
            <ul>
                <li>Adres e-mail;</li>
                <li>Numer telefonu;</li>
                <li>Daty planowanego wynajmu domku letniskowego.</li>
            </ul>
            <h3>Cele przetwarzania danych</h3>
            <p>Zbierane dane osobowe są przetwarzane w celu:</p>
            <ul>
                <li>umożliwienia dokonania rezerwacji domku letniskowego,</li>
                <li>kontaktu z użytkownikiem w związku z rezerwacją (np. potwierdzenie lub zmiana terminu),</li>
                <li>obsługi zapytań użytkowników.</li>
            </ul>
            <h3>Podstawa prawna przetwarzania danych</h3>
            <p>Dane osobowe użytkowników przetwarzane są zgodnie z:</p>
            <ul>
                <li>art. 6 ust. 1 lit. b RODO – w celu realizacji umowy (dokonanie rezerwacji),</li>
                <li>art. 6 ust. 1 lit. a RODO – w oparciu o zgodę użytkownika w zakresie kontaktu w sprawie rezerwacji.</li>
            </ul>
            <h3>Przekazywanie danych</h3>
            <p>Administrator nie przekazuje danych osobowych użytkowników innym podmiotom bez zgody użytkownika, za wyjątkiem sytuacji, gdy jest to konieczne do realizacji umowy lub wynika z obowiązujących przepisów prawa.</p>


            <h3>Okres przechowywania danych</h3>
            <p>Dane osobowe użytkowników będą przechowywane przez okres niezbędny do realizacji rezerwacji, a także w celach związanych z wykonaniem obowiązków wynikających z przepisów prawa (np. podatkowych). Dane te mogą być przechowywane przez okres niezbędny do ochrony roszczeń związanych z rezerwacją.</p>

            <h3>Prawa użytkowników</h3>
            <p>Każdemu użytkownikowi przysługują prawa wynikające z RODO, w tym:</p>
            <ul>
                <li>prawo dostępu do swoich danych osobowych,</li>
                <li>prawo do ich sprostowania, usunięcia lub ograniczenia przetwarzania,</li>
                <li>prawo do wniesienia sprzeciwu wobec przetwarzania danych,</li>
                <li>prawo do przenoszenia danych,</li>
                <li>prawo do wycofania zgody na przetwarzanie danych w dowolnym momencie.</li>
            </ul>
            <p>W celu skorzystania z tych praw, użytkownik może skontaktować się z Administratorem poprzez e-mail [adres e-mail].</p>

            <h3>Środki bezpieczeństwa</h3>
            <p>Administrator podejmuje odpowiednie środki techniczne i organizacyjne, aby zapewnić bezpieczeństwo danych osobowych i chronić je przed nieautoryzowanym dostępem, utratą czy nieuprawnionym wykorzystaniem. W szczególności, strona internetowa korzysta z technologii SSL (Secure Socket Layer), która zapewnia szyfrowanie danych przesyłanych pomiędzy użytkownikiem a serwerem. Dzięki temu wszelkie informacje przekazywane za pośrednictwem strony są chronione przed przechwyceniem przez osoby trzecie.</p>

            <h3>Pliki cookies</h3>
            <p>Serwis może korzystać z plików cookies w celu poprawy jakości działania strony oraz ułatwienia użytkownikowi korzystania z serwisu. Szczegółowe informacje dotyczące polityki plików cookies znajdują się w odrębnym dokumencie [link do polityki cookies].</p>

            <h3>Zmiany Polityki Prywatności</h3>
            <p>Administrator zastrzega sobie prawo do wprowadzania zmian w niniejszej Polityce Prywatności. O wszelkich zmianach użytkownicy będą informowani na stronie internetowej serwisu.</p>

            <h3>Kontakt</h3>
            <p>W razie jakichkolwiek pytań dotyczących Polityki Prywatności, prosimy o kontakt na adres e-mail: [adres e-mail].</p>

            <br><br>
            <h3>Data ostatniej aktualizacji: 21.09.2024r.</h3>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
</html>