<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <header>
        <%- include('./partials/nav.ejs') %>
    </header>

    <br><br><br><br><br><br>

    <section class="spots">
        <div class="spots-wrapper">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Kaplica_Matki_Boskiej_w_Augustowie-Studzienicznej_77_z_15.03.1980_-Magkrys.JPG/1024px-Kaplica_Matki_Boskiej_w_Augustowie-Studzienicznej_77_z_15.03.1980_-Magkrys.JPG">

            <div class="spots-content">

                <div>
                    <h1><strong>Klasztor i sanktuarium w Studzienicznej</strong></h1>
                    <p>Kaplica położona jest na wyspie na Jeziorze Studzienicznym. Wchodzi w skład sanktuarium Matki Bożej Studzieniczańskiej i zespołu sakralnego w parafii Matki Bożej Szkaplerznej w Studzienicznej.</p>
                    <a href="https://maps.app.goo.gl/4pa1jy8utCx8bLyVA">Zobacz na mapie!</a>
                </div>
            </div>
            
        </div>
        <div class="spots-wrapper-reverse">
            <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nrik2yVSUx5y2aPI2SV6PU_aGpQQCpYmyvFfriw7lp2UWZNYiG7lv_Mb_L64i9jp_ejs0PVfvG4uQb4ZOD_Fap3YGwkz4AC7qtDvOS1khT9zmPQP7mNf5jsoV4YK5t4V3Q_Ql80gw=s680-w680-h510-rw">

            <div class="spots-content">

                <div>
                    <h1>Muzeum Kanału Augustowskiego</h1>
                    <p>Jest to ekspozycja poświęcona budowie i historii jednego z najważniejszych dzieł inżynieryjnych XIX wieku w Polsce, prezentująca oryginalne narzędzia, dokumenty, zdjęcia i szczegóły techniczne związane z budową kanału. </p>
                    <a href="https://maps.app.goo.gl/xvcBSchuVmdXMUnT7">Zobacz na mapie!</a>
                </div>
            </div>
            
        </div>
        <div class="spots-wrapper">
            <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nrwAn1KznSHq-jtKUEYHomfiJiCFhnFk1-lobs2BrOCpZNAfjKukukiuYCuKNyxYVsIyJVPUXbSFc1tZftHD3g5xq2EYDqkf31bZTttDMM5I2vxTt8kpP9S0nSn9pQin1DR2p0g0fImIUT8=s680-w680-h510-rw">

            <div class="spots-content">

                <div>
                    <h1>Ławeczka Beaty z Albatrosa</h1>
                    <p>Ławeczka Beaty została odsłonięta w sierpniu 2017 r. przed słynną restauracją „Albatros” (wybudowaną w 1962 r. wg projektu Henryka Gomółki).</p>
                    <a href="https://maps.app.goo.gl/FcroBxKCwLvszveY9">Zobacz na mapie!</a>
                </div>
            </div>
            
        </div>

        <div class="spots-wrapper-reverse">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Augustow_-_sluza.JPG/1024px-Augustow_-_sluza.JPG">

            <div class="spots-content">

                <div>
                    <h1>Śluza Augustów</h1>
                    <p>Piąta śluza na Kanale Augustowskim (licząc od strony Biebrzy). Znajduje się na terenie Augustowa w pobliżu Drogi krajowej nr 8. Wybudowana w latach 1825–1826 przez por. inż. Konstantego Jodkę.</p>
                    <a href="https://maps.app.goo.gl/yp4NAGPhvyRqFZof8">Zobacz na mapie!</a>
                </div>
            </div>
            
        </div>
        <div class="spots-wrapper">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Mosty_kolejowe_w_Sta%C5%84czykach.jpg/1280px-Mosty_kolejowe_w_Sta%C5%84czykach.jpg">

            <div class="spots-content">

                <div>
                    <h1>Mosty w Stańczykach</h1>
                    <p>Dwa mosty kolejowe z lat 1917–1918 w Stańczykach, w powiecie gołdapskim, wpisane do rejestru zabytków nieruchomych województwa warmińsko-mazurskiego.</p>
                    <a href="https://maps.app.goo.gl/9XKDwxgwmNhAsiVQ6">Zobacz na mapie!</a>
                </div>
            </div>
            
        </div>




        <div class="spots-wrapper-reverse">
            <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4no2MD6KWrMAmkrC4EYZ5-Od8MVP8i_a39Bd3eDIZ5vuFR_-DV3BVwwZqC-IBrcWsvajPht-PD21SRw0ttWokNJDJuGMopwXA0qGIDmCZoPWTlQT9ZkqCJdfHD1Biw4jRcFhNV5Tb_3Pc3Ll=s680-w680-h510-rw">

            <div class="spots-content">

                <div>
                    <h1>Klasztor Kamedułów w Wigrach</h1>
                    <p>Rzymskokatolicki kościół parafialny pw. Niepokalanego Poczęcia Najświętszej Maryi Panny, wybudowany według projektu Pietro Putiniego w latach 1694–1745 w Wigrach.</p>
                    <a href="https://maps.app.goo.gl/qbRno85VHoaXT8Sq7">Zobacz na mapie!</a>
                </div>
            </div>
            
        </div>
        <div class="spots-wrapper">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Jezioro_Hancza%2C_Poland%2C_Aug_2004.jpg">

            <div class="spots-content">

                <div>
                    <h1>Jezioro Hańcza</h1>
                    <p>Jezioro położone na Pojezierzu Wschodniosuwalskim. Najgłębsze jezioro w Polsce i w całej środkowej części Niżu Europejskiego.</p>
                    <a href="https://maps.app.goo.gl/4a8rcAYci7pkLA557">Zobacz na mapie!</a>
                </div>
            </div>
            
        </div>
    </section>

    <br><br><br><br><br>


        <%- include('./partials/footer.ejs') %>
</body>
</html>