<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <header>
        <%- include('./partials/nav.ejs') %>
    </header>

    <br><br><br><br><br>

    <section class="spots">
        <div class="wrapper">
            <img src="https://s3.eu-central-1.amazonaws.com/pressland-cms/cache/__original__/lx/24976588-bookworm-cabin-w-adelinie-proj-pole-architekci.jpeg" style="width: 100%;">

            <div class="houseDesc">
                <p><strong>12 miejsc do spania:</strong> Wygodne łóżka idealne na wypoczynek dla dużej rodziny lub grupy przyjaciół.</p>
                <br>
                <p><strong>Nowe meble:</strong> Stylowe i nowoczesne wyposażenie, które tworzy przytulną atmosferę.</p>
                <br>
                <p><strong>W pełni wyposażona kuchnia:</strong> Gotowanie na miejscu to przyjemność dzięki nowoczesnym sprzętom.</p>
                <br>
                <p><strong>Duży stół:</strong> Idealny do wspólnych posiłków i spędzania czasu w gronie najbliższych.</p>
                <br>
                <p><strong>Przestronny taras:</strong> Perfekcyjne miejsce na poranną kawę, wieczorny relaks i podziwianie natury.</p>


            </div>

        </div>

    </section>

    <br><br><br><br><br>


        <%- include('./partials/footer.ejs') %>
</body>
</html>