<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <header>
        <%- include('./partials/nav.ejs') %>
    </header>

    <br><br><br><br><br><br>

    <section class="spots">
        <div class="spots-wrapper">
            <img src="https://lh5.googleusercontent.com/p/AF1QipMMCK2yJ4r1cJw-YOGnJQHCZyoZiu6C1CPZWC1v=w408-h270-k-no">

            <div class="spots-content">

                <div>
                    <h1>Cmentarz staroobrzędowców</h1>
                    <p><strong>Cmentarz staroobrzędowców</strong> w Bliźnie to zabytkowe miejsce, będące świadectwem obecności i kultury staroobrzędowców na Mazurach. Zachowały się tu kamienne nagrobki z charakterystycznymi inskrypcjami cyrylicą. Cmentarz otoczony jest malowniczą przyrodą, emanując spokojem i historią.</p>
                    <a href="https://maps.app.goo.gl/QmBKP42Y114tDZZP8">Zobacz na mapie!</a>
                </div>
            </div>
            
        </div>
        <div class="spots-wrapper-reverse">
            <img src="https://lh5.googleusercontent.com/p/AF1QipMMCK2yJ4r1cJw-YOGnJQHCZyoZiu6C1CPZWC1v=w408-h270-k-no">

            <div class="spots-content">

                <div>
                    <h1>Cmentarz staroobrzędowców</h1>
                    <p><strong>Cmentarz staroobrzędowców</strong> w Bliźnie to zabytkowe miejsce, będące świadectwem obecności i kultury staroobrzędowców na Mazurach. Zachowały się tu kamienne nagrobki z charakterystycznymi inskrypcjami cyrylicą. Cmentarz otoczony jest malowniczą przyrodą, emanując spokojem i historią.</p>
                    <a href="https://maps.app.goo.gl/QmBKP42Y114tDZZP8">Zobacz na mapie!</a>
                </div>
            </div>
            
        </div>
        <div class="spots-wrapper">
            <img src="https://lh5.googleusercontent.com/p/AF1QipMMCK2yJ4r1cJw-YOGnJQHCZyoZiu6C1CPZWC1v=w408-h270-k-no">

            <div class="spots-content">

                <div>
                    <h1>Cmentarz staroobrzędowców</h1>
                    <p><strong>Cmentarz staroobrzędowców</strong> w Bliźnie to zabytkowe miejsce, będące świadectwem obecności i kultury staroobrzędowców na Mazurach. Zachowały się tu kamienne nagrobki z charakterystycznymi inskrypcjami cyrylicą. Cmentarz otoczony jest malowniczą przyrodą, emanując spokojem i historią.</p>
                    <a href="https://maps.app.goo.gl/QmBKP42Y114tDZZP8">Zobacz na mapie!</a>
                </div>
            </div>
            
        </div>

    </section>

    <br><br><br><br><br>


        <%- include('./partials/footer.ejs') %>
</body>
</html>