<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <header>
        <%- include('./partials/nav.ejs') %>
    </header>

    <section class="success">
        <div class="success-container">
            <h1>Dziękujemy za złożenie rezerwacji!</h1>
            <p>Dalsze informacje zostaną przesłane na podany przez ciebie adres e-mail.</p>
            <p>Jeśli nie otrzymałes maila skontaktuj się z nami!</p>
            <p>Email: <a href="mailto:contact@example.com">contact@example.com</a></p>
            <p>Telefon: <a href="tel:+48555666777">+48 555 666 777</a></p>
        </div>

    </section>

    <br><br><br><br><br>


        <%- include('./partials/footer.ejs') %>
</body>
</html>