.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.login-container button:hover {
    background-color: #45a049;
}

.rentContainer {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;


}

.rentDate {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 12px;
    gap: 10px;
    
    
}

.rentDate p {
    margin: 0;
    flex: 1; 
    text-align: center; 
}
.deleteButton button {
    background-color: red;
    padding: 20px;
}
.updateStatus button {
    background-color: green;
    padding: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.admin-navbar {
    width: 6rem;
    height: 100vh;
    position: fixed;
    background-color: #23232e;
}
.admin-navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.admin-nav-item {

}
.nav-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 6rem;

}
.link-text {

}
.admin-content {
    margin-left: 6rem;
}

@media (max-width: 600px) {
    .admin-navbar {
        bottom: 0;
        width: 100vw;
        height: 6rem;
    }
    .admin-navbar-nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .admin-content {
        margin-left: 0rem;
    }
}

.image-upload-container {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border: 2px dashed #ccc;
    text-align: center;
}

.image-preview {
    max-width: 300px;
    max-height: 300px;
    margin: 1rem auto;
    display: none;
}

.image-preview.active {
    display: block;
}

#image-upload-input {
    display: none;
}

.upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.upload-label:hover {
    background-color: #0056b3;
}

